USE [Weather]
GO
/****** Object:  Table [dbo].[City]    Script Date: 12.03.2026 01:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[CityID] [int] IDENTITY(1,1) NOT NULL,
	[CityName] [nvarchar](50) NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[CityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[City] ON 

INSERT [dbo].[City] ([CityID], [CityName]) VALUES (1, N'Adana')
INSERT [dbo].[City] ([CityID], [CityName]) VALUES (2, N'Adıyaman')
INSERT [dbo].[City] ([CityID], [CityName]) VALUES (3, N'Afyonkarahisar')
SET IDENTITY_INSERT [dbo].[City] OFF
GO
